*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  cursor: pointer;
  border: 1px solid #fff;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  padding-block: 5px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content {
  display: grid;
  grid-template-columns: 710px 395px;
  align-items: end;
  gap: 30px;
}

/*секция с основным видео*/
.result__video-container {
  position: relative;
  inline-size: 710px;
  block-size: 385px;
  margin-block-end: 16px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: bottom;
}

/*секция с поиском*/
.search-form {
  display: flex;
  gap: 40px;
}
 
.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  padding-block-end: 5px;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}

.search-form__textfield {
  appearance: none;
  inline-size: 225px;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  border-inline-start: transparent;
  border-inline-end: transparent;
  font-family: inherit; 
  color: #FFFFFFB2;
  font-size: inherit;
  font-weight: inherit;
  background-color: transparent;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:active {
  border: 1px solid #fff;
  outline: none;
} 

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #FFF;
  background-color: transparent;
}

.search-form__label:has(.search-form__checkbox):hover {
  border-bottom: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox:before {
  content: '';
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
  border: none;
}

.search-form__label:has(:focus-visible)  {
  outline: 1px solid #fff;  
  outline-offset: 2px;
}

.search-form__submit-button {
  inline-size: 194px;
  align-self: end;
}

/*секция с заголовком*/
.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.93;
  text-transform: uppercase;
  padding-block-end: 20px;
}

.content__accent {
  color: #545050;
}

/*секция со списком видео*/

.content__list {
  position: relative;
  block-size: 298px;
  overflow: auto;
}

.content__list-item:not(:last-child){
  padding-block-end: 27px;
}

.content__video-card {
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1; 
  text-transform: uppercase;
  padding-block-end: 3px;
  word-break: break-all;
}

.content__card-link {
  margin: 2px;
  display: block;
  color:  #fff;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  inline-size: 100%;
}

